@font-face {
  font-family: "wf_segoe-ui_light";
  font-style: normal;
  font-weight: normal;
  src: url("//i.s-microsoft.com/fonts/segoe-ui/west-european/light/latest.eot?#iefix") format("embedded-opentype"), url("//i.s-microsoft.com/fonts/segoe-ui/west-european/light/latest.woff") format("woff"), url("//i.s-microsoft.com/fonts/segoe-ui/west-european/light/latest.ttf") format("truetype"), url("//i.s-microsoft.com/fonts/segoe-ui/west-european/light/latest.svg#web") format("svg");
}
@font-face {
  font-family: "Orbitron";
  font-style: normal;
  font-weight: normal;
  src: url("http://fonts.googleapis.com/css?family=Orbitron") ;
}


h1,h2,h3,h4,h5{
font-family:wf_segoe-ui_light,"Segoe UI Light","Segoe WP Light","Segoe UI","Segoe WP",Tahoma,Arial,sans-serif !important;
font-weight: 300 !important;
}
p,table,form,label,ul{
font-family:wf_segoe-ui_normal,"Segoe UI","Segoe WP",Tahoma,Arial,sans-serif;
}
html,body{
  height: 100%;
}
body
{
overflow-x: hidden;
margin: 0px;
}
a
{
color: #09375F !important;
}
hr
{
border: 1px solid #FFF;
}
.ui-datepicker td
{
padding: 0px !important;
}
.ui-state-default
{
color:#1C94C4 ;
}
#main_wrapper
{
width: 100%;


position:absolute;

}

header
{
position: absolute;
top: -2.3%;
background-color:#3f818f;/* #14879f;*/
width: 100%;
height: 89px;
z-index:100;
border-bottom: 9px solid #E9EEEF;
font-family: wf_segoe-ui_light;
font-size: 1.5em;
}
#small-menu
{
position:absolute;
top:78px;
}
.fixed
{
position:fixed !important;
top:0 !important;
}
#menu_resp_sm
{
background-color: #4B4B4B;
}
.myCollapseButton
{
height:40px;
width:40px;
background-color: #0B5978;
border: none;
border-radius: 3px;
}
.myCollapseButton span
{
border-bottom: 1px solid #D4E6EC;
display: block;
margin: 5px;
}
#language {
   /* position: absolute;
    right: 0px;
    width: 4%;*/
}
.lang
 {
   /* width: 100% !important;*/
     border: unset !important;
	background-color: initial !important;
text-align: left;
color: #94C2C0;
cursor:pointer;
font-family: wf_segoe-ui_light;
font-size:0.8em;
}
#logo
{
position:absolute;
top: 7px;
left: 7px;
}
#account
{
  font-size:0.8em;
  text-align: right;
  width:120px;
 /*   position: absolute;
    right: 5%;
    color: #FFF;

 top: 10%;
width:10% ;
padding: 3px;
border-radius: 3px;*/
}
.logout
{
color: #FFF !important;
border: unset !important;

  cursor:pointer;
font-family: wf_segoe-ui_light;
  font-size: 1.2em;
  background-color: #225968 ;
padding: 5px;
/*right: 0px;
top: 80%;
position: absolute;
background-color: initial !important;
width: 44% !important;
*/
}
#username
{
color: #CADFE4;
font-size: 1.2em;
}

.round_menu /*#menu_resp li*/
{

  line-height: 345%;
font-size: 1.1em;
 text-align: center;
width: 100%;
display: block;
margin-top: -1px;

text-decoration: none !important;
  color: #FFF !important;
font-family: wf_segoe-ui_light;

/*
font-size: 1.1em;
 padding:12px 30px;
text-decoration: none !important;
  min-height: 100%;
display: block;
  width: 7%;
  text-align: center;
margin: 0 0px;

position: relative;
  display: inline-block;
  */

}
.round_menu:hover {
background-color: #414040;
color: #EAF3F2;
border-bottom: 9px solid #00939F;
}/*
nav
{
position: absolute;
left: 18%;
right: 18%;

text-align: center;
}*/
#bubble {
/*position: absolute;
top: 18%;
left: 25%;
right: 25%;
color: #BBDDD6;
height: 254px;
*/
color: #1D6E7B;
font-size: 1.8em;
text-align: center;


}
#bubble h4,#bubble h5,#bubble2 h4,#bubble2 h5
{
  font-size: inherit;
}
#bubble2 {
/*position: absolute;
top: 27%;
left: 14%;
right: 14%;
height: 254px;
*/
color: #C7FFFD;
text-align: center;
font-size: 2.3em;
}
#demo-parent
{
  height:40%;
  background-color: #61cad2;/*rgb(0, 201, 255);rgba(0, 160, 224, 0.82);/*#00A0E0;*/
  /*border-bottom: 8px solid #007087;
/*background-color: #EAF4F6;
border-bottom: 1px solid #007087;*/
}
#demo
{
height: 95%;

background:  url("../images/demo.png") no-repeat scroll 50% center;
background-size: contain;

 /*width: 80%;
height: 40%;
background-size: 100%;
margin: auto;
position: absolute;
bottom: 0px;
left: 10%;
right: 10%;*/
}
#home_page
{


/*background:   url("../images/airportgray.jpg")  no-repeat center top fixed ;*/
background-color: #69b9b0;
background-size: 100% 120%;
 padding-top:1px;
 margin-top:-1px;
 height:100%;
 min-height: 560px;
 position:relative;
}

#home_search
{
position:absolute;
bottom:100px;
width: 620px;
background-color: #3CA1A5;
padding: 10px;
border-radius: 5px;
border: 5px solid #004B5C;
display:none;
}
#home_search select {

    border-radius:5px;
	background-color: #e9f7f7ff;
}
#home_search input[type="submit"] {
    background-color: #0F7F96;
    width: 20%;
    border: none;
}
#firstbody
{
margin:auto;
width: 1100px;
margin-top:50px;
border-radius: 5px;
}
#exp
{

margin-top: 155px;
}

.separator
{
height : 10px;
width: 400px;
border-radius:5px;
margin:auto;
margin-top:90px;
margin-bottom:90px;
background-color: rgba(81, 210, 231, 1);
}

.page
{
height:930px;

}
.no-float
{
float:none !important;
}
.fill-height
{
  height: 140px;
  background-color: #45C1E1;
  background-image: url("../images/clouds2.png");
  background-repeat: no-repeat;
  background-position: 50% bottom;
  background-attachment: fixed;
}
section
{
margin : 50px 0 50px 0;
}
#about_head
{

background: url("../images/about_icon.png") no-repeat center  ;

}
#about_page
{

background-color:#D1E1E6;/*#B0DBE6;*/
padding-top: 1px;
margin-top: -1px;
/*height: 800px;*/
}
#about_cloud
{
color: #315754;
  /*
height: 200px;
margin: 100px auto auto;
width: 900px;
*/


padding: 0 10px;
}
#about_detail div
{
display: inline-block;


vertical-align: top;
  /*
  width: 47%;
  margin-right: 5%;
  */

}
#about_rightdiv
{
margin-right: 0% !important;
}
#about_page h2,#about_page h3
{
/*text-align:center;*/
color: #004F59;
font-size: 2.3em;
}
#about_page img
{
vertical-align:middle;
/*margin-left: 5%;*/
}
#find
{

background-color: #DBE5E7;
margin-top:-1px;
padding-top:1px;
}
#find_head
{
background: url("../images/head_find.png") no-repeat center    ;
}
.find_divs {
    display: inline-block;
    width: 20%;
}
.head
{

width: 90px;
height: 90px;
border-radius: 5px;
margin: auto;

margin-top:100px;
border: 2px solid #225968;/*#466668;*/
}
.pages
{

display: block;

text-align: center;

margin-top:10px;
}
.pages a
{
color: #4E6163;
cursor: pointer;

padding: 3px 7px;
border-radius: 3px;
border: 1px solid #4E6163;
}
.pge_selected {
    border: 3px solid #4E6163 !important;
}
#find_content
{
/*width: 70%;*/
margin: -1px auto auto;
padding-top: 1px;

height:900px;
}
#find_cloud
{
line-height: 35px;
color: #4E6163;

border-radius: 0 0 5px 5px;
margin-top: 50px;
/*
padding-left: 6%;
box-shadow: 0px 1px 3px rgb(123, 123, 123);
background-color: #3BA3B0 ;

border-top: 3px solid white;
*/
padding-top:10px;
  padding-bottom:10px;
}
#find_cloud input[type="submit"]
{
border: 1px;
/*line-height: 200%;
width: 20% !important;*/
border-radius: 3px;
cursor: pointer;
height: 35px !important;
background-color: #225968;
color: #FFF;
}
#find_cloud select,#find_cloud input {
  border-radius: 2px;
  height: 30px !important;
  color: #063D44;
  border: 1px solid #8D9DA5;
  background-color: #DBE5E7;
  width: 100%;
}
table
{
width: 100%;
margin: auto;
/*text-align: center;*/
color : #004D56;
}
th
{

background-color: #225968 ;
color: #FFF;
border-radius: 20px 20px 0 0;
width: 30%;
}
td,th
{
padding-left:15px !important;
}
.line_type_one {
    background-color: #E6E9EC;
}
.line_type_two {
    background-color: rgb(234, 237, 237);
}
.actions {


    width: 1%;
}
tr
{
height: 30px;
}
.option_button,.option_button:hover {
    color: rgba(255, 255, 255, 0) !important;
}

table a
{


background:  url("../images/head_find.png") no-repeat center;
display: block;
height: 60px;

border-left: 1px solid #C2C2C2;
}
#list_travels
{
position:relative;
margin-top:60px;
}
#list_travels h3
{

color: #005656;
 font-size: .8em;

 margin-left: 20px;
}
/*  pop up  **/
.cd-popup {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s 0s, visibility 0s 0.3s;





position: fixed;
top: 0;
width: 100%;
left: 0;


}

.cd-popup.is-visible {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.3s 0s, visibility 0s 0s;

  background-color: rgba(59, 59, 59, 0.67);
z-index: 9999;
position: fixed;
top: 0;
width: 100%;
left: 0;
height: 100%;
}

.cd-popup-container {
  transform: translateY(-40px);
  transition-property: transform;
  transition-duration: 0.3s;

  background-color: #D1E6EC;
width: 50%;
margin: auto;
margin-top: 10%;
}

.is-visible .cd-popup-container {
  transform: translateY(0);
}
#popup-close
{
text-align: right;
width: 100%;
display: block;
background-color: #00717A;
color: #CEF3FF;
font-size: 2em;
padding-right: 3%;
cursor: pointer;
}
.popup_content
{
padding: 20px;
}
.title_labels {
    color: rgb(0, 75, 92);
}
.value_labels {
    color: #5A7E7E;
}
.travel_info
{
  background-color: #BAD9DB;
  margin-bottom:15px;
}
.departure_info ,.arrival_info, .delivery_info , .contact_info
{


padding: 20px;
  /*
display: inline-block;
margin: 2px 5%;
text-align: left;

width: 39%;
vertical-align: top;
height: 100px;*/
}
/*.departure_info, .delivery_info
{
margin-right: 2px;
}
.arrival_info, .contact_info
{
margin-left: 2px;
}*/


#login
{
/*background-color: #0095B6;
border: 10px solid #DAECED;
width: 500px !important;*/
margin: auto;
color: #225968;
}
#login input
{
color: #3B3B3B;
}
#anounce
{


background-color: #E5F0F2;
margin-top: -1px;
padding-top: 1px;
}
#announce_head
{
background-image: url('../images/infoman_black.png') ;
background-repeat: no-repeat;

background-position: center;
}
#anounce_content
{

/*height: 900px;
width: 950px;*/
margin: -1px auto 100px ;

padding-top: 1px;}
#anounce_cloud
{


color: #395A5F;
/*width: 900px;*/
margin: auto;

margin-top:100px ;
position: relative;

}
#anounce_cloud h2
{
text-align: center;
/*color: #E7FCFF;*/
}
#anounce_cloud form
{
  /*
background-color: #208F9E; /*#009FB3;*/
/*box-shadow: 0px 1px 3px rgb(123, 123, 123);
border: 10px solid #E0EDEF;
padding: 20px;*/
/*width:100%;*/
}
#anounce_cloud input,#anounce_cloud select,#anounce_cloud textarea {
  width: 100%;
  border-radius: 2px;
  height: 30px;
  color: #6A919B;
  background-color: #E4EFF3;
  border: 1px solid #A2B5BD;
}
#anounce_cloud textarea
{
height: 195px;
}


.labels {
    display: inline-block;
}

.fields {
    display: inline-block;
}
#anouncement_departure,#anouncement_arrival
{
width:33%;
}
#anouncement_departure .fields ,#anouncement_arrival .fields
{
 width:44%;
}
#anouncement_departure,#anouncement_arrival,#left_details,#right_details
{
margin-left: 7%;
border-left: 8px solid #007684;
padding-left: 3%;
}
#carriage_details
{
margin-top: 30px;

}
#carriage_details input,#carriage_details select {
border: 0px;

width: 100%;
}
#detail_fields
{
 margin-left: 16%;
 position:relative;
 width: 44%;
}
#id_currency
{
 /*width:30% !important;*/
}
#left_details
{
 width: 40%;
}
#right_details
 {
 margin-left: 0%;
}
#right_details textarea {
width: 100%;
}
#comment
{
//vertical-align: top;
}
#buttons input[type="reset"],#buttons input[type="submit"] {
width: 30% !important;
line-height: 220%;
background-color: #225968;
color: white;
cursor: pointer;
height: 60px;
}
fieldset{
border: 1px solid #0271A5 ;
margin: 10px 0 50px 0 !important;
}
legend
{
color: #639598    !important;
  border-color:#6FAFB4 !important;
}
#buttons
{
margin: auto;
text-align:center;
margin: 50px 0 50px 0;
}
.right-buttons
{
  width: 50% !important;
  line-height: 220%;
  margin-left: 50%;
  background-color: #1A5A6B !important;
color: white !important;
border: none !important;
  height:50px !important;

}

#background
{
position: absolute;
width: 13%;
height: 60%;
right: 10%;
top: 10%;
background:url('../images/anounce_icon.png') no-repeat;
}
#contact
{
height: 600px;
}
#contact_head
{
background: url("../images/contact_icon.png") no-repeat center  ;
}
#contact_content
{
margin: auto;
width:40%;
color:#1A5A6B;

}
#contact_content input,#contact_content textarea
{
width: 100%;
border: 2px solid #CCDDE6;
border-radius: 3px;
height: 50px;
}
#contact_content textarea
{
height : initial;
}
.field_error {
    color: #FF251D; /*#FFE100;*/
    font-size: .9em;
}
#faq_section h2 {
    text-align: center;
    color: #009CAE;
}
#faq_section {
    background-color: rgb(228, 240, 243);
    width: 70%;
    margin: 100px auto;
    padding: 50px;


}
.qustion {
    font-weight: bold;
    color: rgb(0, 128, 128);
}
#account a {
    color: rgb(54, 216, 222);
    text-decoration: none;
    /*width: 120px !important;
    display: block;*/
}
.activation_msg {
    margin: auto;
    width: 50%;
    margin-top: 10%;
    background-color: #578890;
    padding: 50px;
    color: white;
}
.noemailfound {
    margin: auto;
        margin-top: auto;
    margin-top: 150px;
    width: 400px;
    background-color: #399e9e;
    padding: 20px;
    color: white;
    text-align: center;
}
